<div class="hero-unit">
  <h1 class="center">EasyProst</h1><br>
  <p>Seja bem vindo ao EasyProst!</p>

  <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-medium" %>
  <%= link_to "Cadastrar", new_user_registration_path, class: "btn btn-primary btn-medium" %>
</div>