<h2>Cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true %>

  <%= f.label :password, "Senha" %> <% if @validatable %><i>(minímo de <%= @minimum_password_length %> caracteres)</i><% end %><br />
  <%= f.password_field :password, autocomplete: "off" %>

  <%= f.label :password_confirmation, "Confirme a senha" %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <br>
  <%= f.submit "Cadastrar", class: "btn btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
