<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true %>

    <%= f.label :password, "Senha" %>
    <%= f.password_field :password, autocomplete: "off" %>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
    <%= f.check_box :remember_me, class: "checkbox" %>Lembrar
    </label>
  <% end -%>

  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
