<%= form_for @companion, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :gender, :class => 'control-label' %>
      <div class="controls">
        <%= f.select(:gender, [['Masculino','Masculino'],['Feminino', "Feminino"]]) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :age, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :age, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :price, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :price, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :boobsize, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :boobsize, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :avatar, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :extras, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_check_boxes :extra_ids, Extra.all, :id, :name %>
      </div>
    </div>


    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  companions_path, :class => 'btn' %>
    </div>
<% end %>
