<!DOCTYPE html>
<html>
<head>
  <title>RailsEasyprost</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "EasyProst", root_path, class: "brand" %>
      <ul class="nav pull-right">
        <% if current_user && current_user.admin? %>
            <li><%= link_to "admin", users_path %></li>
        <% end %>
        <% if current_user %>
            <li><%= link_to "companions", companions_path %></li>
            <li><%= link_to "extras", extras_path %></li>
            <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <% if notice %>
    <p class="alert"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
   <% end %>
  <%= yield %>
</div>

</body>
</html>
